.form {
  width: 500px;
  margin-bottom: 40px;
}

.formGroup {
  margin-bottom: 30px;
}

.formLabel {
  display: block;
  margin-bottom: 6px;
  cursor: pointer;
}

.formInput {
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 8px;
  outline: none;
  transition: border-color 250ms ease;

  &:hover,
  &:focus {
    border-color: #007bff;
  }
}

.formBtn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  color: #007bff;
  background-color: transparent;
  border: 1px solid rgba(0, 123, 255, 0.5);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: color 250ms ease, background-color 250ms ease,
    border-color 250ms ease;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
}
